body {
  padding: 0;
  margin: 0;
  font-family: sans-serif;
}

a:link {
  color: #000498;
}
a:hover {
  color: #4549ff;
}
a:visited {
  color: black;
}
a:active {
  color: black;
}

section {
  padding: .6em 1em .4em;
  margin: 1em;
  background-color: #dce8f1;
  border-radius: 10px;
}

h1, h2, h3 {
  text-shadow: 1px 1px 0 #838383;
  margin: 0 0 .2em;
}

h1 {
  font-size: 1.6em;
}

h2 {
  font-size: 1.4em;
}

h3 {
  font-size: 1.2em;
}

p {
  margin: .4em 0;
}

ul {
  margin: 0;
}

.description {
  background-color: rgba(255, 255, 255, .5);
  border-radius: 5px;
  padding: .3em .5em;
  margin: .5em 0 .3em;
}

#content {
  width: 700px;
  margin: 0 auto;
}

footer {
  text-align: center;
  padding: .5em 0;
  color: #858585;
}

footer a:link, footer a:visited {
  color: #5b5c88;
}

code {
  display: block;
  font-family: monospace;
  font-size: 1.3em;
  white-space: pre;
  margin: .3em 0;
  padding: .3em .5em;
}

.header {
  border-style: none solid solid none;
  border-width: 2px;
  border-color: #8895a0;
}

.property {
  font-weight: bold;
}

.depth0 {
  margin: 0em;
}

.depth0 h1 {
  text-shadow: 1px 1px 0 #cc7800;
}

.depth0.header {
  margin: 1em 0;
  border-style: none solid solid none;
  border-width: 2px;
  border-color: #9e5d00;
  border-radius: 20px;
  background-color: #ffc571;
}

.depth1 {
  margin: 1em 2em;
}

.depth1 h1 {
  text-shadow: 1px 1px 0 #005896;
}

.depth1.header {
  border-style: none solid solid none;
  border-color: #00416e;
  border-width: 2px;
  background-color: #c9e9ff;
  margin: 1em 1em;
}

.depth2 {
  margin: 1em 3em;
}

.depth2.header {
  margin: 1em 2em;
}

.depth3 {
  margin: 1em 4em;
}

.depth3.header {
  margin: 1em 3em;
}